u{
    color: deeppink;
}
hr{
    border-style: dashed;
}
image{
    float: left;
    width: 50%}
a{
    float: right;
    text-align: right;
}
body{
    margin-left: 200px;
    margin-right: ;: 200px;
}
hr{
    color: deeppink;
}